apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: karpenter-np
spec:
  template:
    spec:
      requirements:
        - key: kubernetes.io/arch
          operator: In
          values: ["amd64"]
        - key: kubernetes.io/os
          operator: In
          values: ["linux"]
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["on-demand"]
        - key: karpenter.azure.com/sku-family
          operator: In
          values: [B]
      nodeClassRef:
        group: karpenter.azure.com
        kind: AKSNodeClass
        name: karpenter-nc
  limits:
    cpu: 10
  disruption:
    consolidationPolicy: WhenEmptyOrUnderutilized
    consolidateAfter: 30s
    expireAfter: Never
  weight: 1